<h1>Registered Users</h1>
<%= render 'search_form'%>
<table class='table table-bordered '>
  <tr class="table-danger">

    <th>Name</th>
    <th>Location</th>
    <th>Image</th>
    <th>Total Qty</th>
    <th>Details</th>

  </tr>
  <% @users.each do |user| %>
  <% if current_user!=user %>
   <tr>
        <%= render 'row', :user => user%>
    </tr>

  <% else %>
  <tr class= 'table-success'>
      <%= render 'row', :user => user%>
    </tr>


  <% end %>
<% end %>
</table>
