.bg-img{
  background-image: image-url('p1.jpg');
}

.cont_b{
  border: solid 4px black ;
  border-radius:15px;
  background-color: whitesmoke;

}

.msm-img{
  width:400px;
  height:auto;
}

.w{
  width: 100%;
}

.cont_b2{
  border: solid 4px black ;
  border-radius:15px;
  background-color: black;
  opacity: 0.75;

}
.bg-img-sign-up{
  background-image: image-url('p2.jpg');
}
.green{
  background-color: rgb(100, 145, 100);
}
